.header{
  display: flex;
  flex-direction: column;
  /*background-color: blue; might want to do some styling with header and page*/
}
.header-name {
  margin-top: 0;
  margin-bottom: 0;
  padding: 0px;
  text-align: center;
  font-size: 54px;
}
.header-title {
  margin-top: 0;
  margin-bottom: 0;
  padding: 0px;
  text-align: center;
}
.header-icons{
  display: flex;
  flex-direction: row;
  flex-wrap: nowrap;
  justify-content: center;
  align-items: center;
}
